.user-item {
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    text-decoration: unset;

    >div {
      display: flex;
      align-items: center;
      grid-gap: 30px;
    }
  }

  &__image {
    img {
      width: 200px;
      height: 200px;
    }
  }

  .hidden-text {
    max-width: 400px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  p {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (max-width: 992px) {
  .user-item {
    .hidden-text {
      max-width: 250px;
    }
  }
}

@media (max-width: 768px) {
  .user-item {
    a {
      flex-direction: column;
      align-items: flex-start;
      grid-gap: 20px;
    }
  }
}

@media (max-width: 575px) {
  .user-item {
    a {
      div {
        flex-direction: column;
      }
    }

    .hidden-text {
      max-width: 300px;
    }

    &__image {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}