.repository-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;

  p {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (max-width: 575px) {
  .repository-item {
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 10px;

    >div {
      display: grid;
      grid-gap: 10px;
    }
  }
}
